{% extends "base.html" %}

{% block title %}Start{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between align-items-center mb-3">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb" style="font-size: 1.2rem;">
              <li class="breadcrumb-item"><a href="/">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">Функции</li>
            </ol>
          </nav>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Добавить новую функцию</button>
    </div>
    {% if positions %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование функции</th>
                <th scope="col"> </th>
            </tr>
            </thead>
            <tbody>
                {% for position in positions %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ position.name }}</td>
                        <td class="text-end">
                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#editPositions"><i class="bi bi-pencil"></i></button>
                        </td>
                    </tr>
                      <!-- Модальное окно -->
                      <div class="modal fade" id="editPositions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editPositionsLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="editPositions">Редактировать функцию</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/position/{{ position.id }}/edit" method="post">
                                    <div class="mb-3">
                                      <input class="form-control" type="stringformat" name="name" id="name" value="{{ position.name }}">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Редактировать</button>
                                  </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Статусы не найдены.</p>
    {% endif %}
      <!-- Модальное окно -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Добавить новую функцию</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="/position/create" method="post">
                    <div class="mb-3">
                      <label for="name" class="form-label">	Наименование функции</label>
                      <input class="form-control" type="stringformat" name="name" id="name" required placeholder="Поле ввода">
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
