{% extends "base.html" %}

{% block title %}Start{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb" style="font-size: 1.2rem;">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Заказы</li>
            </ol>
        </nav>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Добавить новый заказ &nbsp;&nbsp;&nbsp; <i class="bi bi-telephone-inbound"></i></button>
    </div>
    {% if orders %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Заказчик</th>
                <th scope="col">Состояние</th>
                <th scope="col"> </th>
            </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.number }}</td>
                        <td>{{ order.clients.name }}</td>
                        <td><div class="progress" role="progressbar" aria-label="Пример предупреждения" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-warning" style="width: 75%"></div>
                          </div></td>
                        <td class="text-end"><a href="/order/{{ order.id }}" class="btn btn-outline-success"><i class="bi bi-play fs-5"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Заказы не найдены.</p>
    {% endif %}
   <!-- Модальное окно -->
   <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Добавить новый заказ</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
            <form action="/order/create" method="post">
                <div class="mb-3">
                  <div class="d-flex align-items-center">
                    <select class="form-select" id="client_id" name="client_id" required>
                        <option selected>Выберите наименование организации</option>
                        {% for client in clients %}
                        <option value="{{ client.id }}">{{ client.name }}</option>
                        {% endfor %}
                    </select> &nbsp;&nbsp;&nbsp;
                    <a href="/clients" class="btn btn-primary">+</a>
                  </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Описание</label>
                    <textarea class="form-control" name="description" id="description" rows="2"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Отправить</button>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
