<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Dentura</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/orders/">Заказы</a>
          </li>
          &nbsp;&nbsp;&nbsp;
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Справочник
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/clients/">Клиенты</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/process_description">Процессы</a></li>
              <li><a class="dropdown-item" href="/positions">Функции</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/positions">Статусы</a></li>
            </ul>
          </li>
          &nbsp;&nbsp;&nbsp;
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i> {{ user.first_name }}&nbsp;{{ user.last_name }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/auth/profile">Личный кабинет</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Выход</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  